@import url("https://fonts.googleapis.com/css?family=x|Roboto");
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 16px; }

html, body { margin: 0px; padding: 0px; min-height: 100%; max-height: 100%; height: 100%; color: white; background-color: #2a363b; font-family: 'Roboto', sans-serif; font-weight: 400; }

section { padding: 40px 0px; }
section[hero] { background-color: #3a474c; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; margin: 0px; padding: 0px; line-height: 1em; }

h1, h3, h5 { font-family: 'Roboto', cursive; }

h1 { font-size: 50px; margin: 30px 0px; }

h2 { color: white; font-size: 35px; margin: 20px 0px; }

h3 { font-size: 25px; margin: 15px 0px; }

h4 { font-size: 20px; }

a, a:active, a:visited, a:focus { color: white; text-decoration: none; }

a:hover { color: white; text-decoration: underline; }

:root {
  --primary-color: #e8485f !important;
  --default-primary-color: #e8485f;
  --dark-primary-color: #e84a5f;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ff4081;
  --primary-background-color: #2a363b;
  --secondary-background-color: #3a474c;
  --primary-text-color: white;
  --secondary-text-color: white;
  --disabled-text-color: #070809;
  --divider-color: #e0e0e0;
  --paper-checkbox-checked-color: #e8485f;
  --paper-checkbox-checked-ink-color: #e8485f;
  --paper-checkbox-unchecked-color: white;
  --paper-checkbox-unchecked-ink-color: white;
  --paper-checkbox-label-color: white;
  --paper-fab-background: #e8485f;
  --paper-fab-disabled-background: #7a8e95;
  --paper-fab-disabled-text: #070809;
  --paper-icon-button-disabled-text: #7a8e95;
  --paper-input-container-color: #ccc;
  --paper-input-container-focus-color: #e8485f;
  --paper-input-container-invalid-color: #f8bbd0;
  --paper-input-container-input-color: white;
  --paper-menu-background-color: #3a474c;
  --paper-menu-color: white;
  --paper-menu-disabled-color: #7a8e95;
  --paper-progress-active-color: #e8485f;
  --paper-progress-secondary-color: #ff847c;
  --paper-radio-button-checked-color: #e8485f;
  --paper-radio-button-checked-ink-color: white;
  --paper-radio-button-unchecked-color: white;
  --paper-radio-button-unchecked-ink-color: white;
  --paper-radio-button-label-color: white;
  --paper-slider-knob-color: #e8485f;
  --paper-slider-active-color: #e8485f;
  --paper-slider-pin-color: #e8485f;
  --paper-spinner-layer-1-color: #e8485f;
  --paper-spinner-layer-2-color: #e8485f;
  --paper-spinner-layer-3-color: #e8485f;
  --paper-spinner-layer-4-color: #e8485f;
  --paper-tabs-selection-bar-color: #ff847c;
  --paper-tab-ink: #ff847c;
  --paper-toggle-button-checked-bar-color: #e8485f;
  --paper-toggle-button-checked-button-color: #e8485f;
  --paper-toggle-button-checked-ink-color: #e8485f;
  --paper-toggle-button-unchecked-bar-color: white;
  --paper-toggle-button-unchecked-button-color: white;
  --paper-toggle-button-unchecked-ink-color: white;
  --paper-toolbar-background: #e84a5f;
  --paper-toolbar-color: #ffffff;
}

paper-toolbar a, paper-toolbar a:hover, paper-toolbar a:active, paper-toolbar a:visited, paper-toolbar a:focus { color: #ffffff; }

paper-button.primary, paper-button.btn-primary, paper-button[primary] { color: #e8485f; }
paper-button.primary[raised], paper-button.btn-primary[raised], paper-button[primary][raised] { background-color: #e8485f; color: #fff; }
paper-button.secondary, paper-button.btn-secondary, paper-button[secondary] { color: #ff847c; }
paper-button.secondary[raised], paper-button.btn-secondary[raised], paper-button[secondary][raised] { background-color: #ff847c; color: #4d2825; }
paper-button.success, paper-button.btn-success, paper-button[success] { color: #99b898; }
paper-button.success[raised], paper-button.btn-success[raised], paper-button[success][raised] { background-color: #99b898; color: #2e372e; }
paper-button.info, paper-button.btn-info, paper-button[info] { color: #fecea8; }
paper-button.info[raised], paper-button.btn-info[raised], paper-button[info][raised] { background-color: #fecea8; color: #4c3e32; }
paper-button.warning, paper-button.btn-warning, paper-button[warning] { color: #fff59d; }
paper-button.warning[raised], paper-button.btn-warning[raised], paper-button[warning][raised] { background-color: #fff59d; color: #4d4a2f; }
paper-button.error, paper-button.btn-error, paper-button[error] { color: #f8bbd0; }
paper-button.error[raised], paper-button.btn-error[raised], paper-button[error][raised] { background-color: #f8bbd0; color: #4a383e; }
paper-button.link, paper-button.btn-link, paper-button[link] { text-decoration: underline; }
paper-button[raised] { color: white; }
paper-button[disabled] { color: #070809 !important; background: #7a8e95 !important; }

paper-icon-button.primary, paper-icon-button.btn-primary, paper-icon-button[primary] { color: #e8485f; }
paper-icon-button.primary:hover, paper-icon-button.btn-primary:hover, paper-icon-button[primary]:hover { background-color: #3d383f; background-color: rgba(232, 72, 95, 0.2); border-radius: 50%; }
paper-icon-button.secondary, paper-icon-button.btn-secondary, paper-icon-button[secondary] { color: #ff847c; }
paper-icon-button.secondary:hover, paper-icon-button.btn-secondary:hover, paper-icon-button[secondary]:hover { background-color: #3f3e42; background-color: rgba(255, 132, 124, 0.2); border-radius: 50%; }
paper-icon-button.success, paper-icon-button.btn-success, paper-icon-button[success] { color: #99b898; }
paper-icon-button.success:hover, paper-icon-button.btn-success:hover, paper-icon-button[success]:hover { background-color: #354344; background-color: rgba(153, 184, 152, 0.2); border-radius: 50%; }
paper-icon-button.info, paper-icon-button.btn-info, paper-icon-button[info] { color: #fecea8; }
paper-icon-button.info:hover, paper-icon-button.btn-info:hover, paper-icon-button[info]:hover { background-color: #3f4546; background-color: rgba(254, 206, 168, 0.2); border-radius: 50%; }
paper-icon-button.warning, paper-icon-button.btn-warning, paper-icon-button[warning] { color: #fff59d; }
paper-icon-button.warning:hover, paper-icon-button.btn-warning:hover, paper-icon-button[warning]:hover { background-color: #3f4945; background-color: rgba(255, 245, 157, 0.2); border-radius: 50%; }
paper-icon-button.error, paper-icon-button.btn-error, paper-icon-button[error] { color: #f8bbd0; }
paper-icon-button.error:hover, paper-icon-button.btn-error:hover, paper-icon-button[error]:hover { background-color: #3f434a; background-color: rgba(248, 187, 208, 0.2); border-radius: 50%; }

paper-checkbox #checkmark.paper-checkbox, paper-checkbox /deep/, paper-checkbox::shadow #checkmark.paper-checkbox { border-color: #fff !important; }

paper-dialog { color: white; background-color: #2a363b; font-family: 'Roboto', sans-serif; font-weight: 400; }
paper-dialog h1, paper-dialog h2, paper-dialog h3, paper-dialog h4, paper-dialog h5, paper-dialog h6 { overflow: visible; padding: 0 1em; text-align: center; }

paper-fab { --text-primary-color: white; }

paper-fab { background-color: #e8485f; color: #fff; --paper-fab-keyboard-focus-background: #9d1427; }
paper-fab.primary, paper-fab.btn-primary, paper-fab[primary] { background-color: #e8485f; color: #fff; --paper-fab-keyboard-focus-background: #9d1427; }
paper-fab.secondary, paper-fab.btn-secondary, paper-fab[secondary] { background-color: #ff847c; color: #4d2825; --paper-fab-keyboard-focus-background: #fc0f00; }
paper-fab.success, paper-fab.btn-success, paper-fab[success] { background-color: #99b898; color: #2e372e; --paper-fab-keyboard-focus-background: #567b55; }
paper-fab.info, paper-fab.btn-info, paper-fab[info] { background-color: #fecea8; color: #4c3e32; --paper-fab-keyboard-focus-background: #fd872a; }
paper-fab.warning, paper-fab.btn-warning, paper-fab[warning] { background-color: #fff59d; color: #4d4a2f; --paper-fab-keyboard-focus-background: #ffe81e; }
paper-fab.error, paper-fab.btn-error, paper-fab[error] { background-color: #f8bbd0; color: #4a383e; --paper-fab-keyboard-focus-background: #ec4780; }
paper-fab[disabled] { color: #070809 !important; background: #7a8e95 !important; }

section.hero paper-menu, section[hero] paper-menu { --paper-menu-background-color: #3a474c; }

paper-tabs { background-color: #e84a5f; color: #ffffff; }

